<mat-spinner *ngIf="loading" class="loader"></mat-spinner>
<div class="summary-panel" *ngIf="summary">
    <mat-expansion-panel *ngFor="let type of activityType | keyvalue">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ type.key }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
            <li *ngFor="let activityDate of summary[type.key]">
                {{ activityDate | date: 'shortTime' }}
            </li>
        </ul>
    </mat-expansion-panel>
</div>
