.loader {
    margin: auto;
}
.summary-panel {
    display: flex;
    .summary-section {
        margin-right: 30px;
        padding: 0 30px;
        ul {
            list-style-type: none;
            padding: 0;
        }
    }
}
